<!doctype html>
<html><head><title>Final Exam - {{course}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no"/>
</head>
<body bgcolor="#FFFFFF" style="margin:8px 8px 8px 16px !important;" id="TestQDiv" onload="printPage()";>
  {{> header}}
<a onclick="printPage();">Print</a>

<hr/>
<p>Welcome to the CLRETN. Below is the full list of final exam questions associated with this course. When you launch the final exam for this course, it will contain a randomized subset of the questions below, totaling 10 questions . During the actual final exam, the questions <b>will not</b> appear in the same order as they do below. Note: Each attempt at the final exam will result in a new randomized subset of the questions below. You must earn a score of at least 80% in order to pass the exam and receive CPE credit for this course.</br>After you have answered all the questions, select the "Submit Answers" button to receive your score.<hr id="CLRETN00000330"/>
<h2>Exam Question 1</h2> <p>What is being measured by FTEs?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">Full-time employees measures all of the full-time employees that were paid during a specific period.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">Full-time enrollment measures only the full-time employees enrolled in the payroll for a specific period.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">Full-time equivalent measures employees that are either full-time or the sum of part-time employees to be the equivalent of a full-time employee.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">Full-time exempt measures all of the full-time employees that are exempt within a specific period.</td></tr></table><br/><hr id="CLRETN00000360"/>
<h2>Exam Question 2</h2> <p>Which set of taxes would employers usually pay in addition to an employee's salary?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">Social Security, Medicaid, FUTA, Disability</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">Social Security, Medicaid, FUTA, Remittance</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">Social Security, Medicare, FUTA, State Disability</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">Social Security, Medicare, FUTA, State Unemployment</td></tr></table><br/><hr id="CLRETN00000530"/>
<h2>Exam Question 3</h2> <p>Name one of the differences between the tangible and intangible expenses regarding employee turnover.</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">Intangible expenses are dependent upon the tangible expenses.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">Intangible expenses do not impact the company's bottom-line.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">Only tangible expenses can be physically calculated up front.</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">The impact of intangible expenses can never be measured.</td></tr></table><br/><hr id="CLRETN00000430"/>
<h2>Exam Question 4</h2> <p>According to Gallup's State of the American Workplace, what is the percentage of employees that are actively looking for a new job or watching for new job openings?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">15%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">33%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">47%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">51%</td></tr></table><br/><hr id="CLRETN00000640"/>
<h2>Exam Question 5</h2> <p>According to SageJournals, what is the percentage of a company's payroll that disengagement represents?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">15%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">20%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">25%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">35%</td></tr></table><br/><hr id="CLRETN00000670"/>
<h2>Exam Question 6</h2> <p>According to Gallup's State of the American Workplace, what percentage of employees would have to be engaged so that an organization can look forward to 20% higher sales?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">60%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">70%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">80%</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">90%</td></tr></table><br/><hr id="CLRETN00000730"/>
<h2>Exam Question 7</h2> <p>What is the company that you can access online for a thumbnail analysis of a company's engagement of its employees?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">Frontdoor</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">Glassdoor</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">Nextdoor</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">Paradoor</td></tr></table><br/><hr id="CLRETN00001112"/>
<h2>Exam Question 8</h2> <p>Southwest Airlines reports that their low turnover rate has increased their profitability. According to their website, since they started, SWA has had how many years of annual profitability?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">16 consecutive years</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">22 consecutive years</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">43 consecutive years</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">51 consecutive years</td></tr></table><br/><hr id="CLRETN00000110"/>
<h2>Exam Question 9</h2> <p>What term defines the unique personality of an organization?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">Behavior modification</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">Culture</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">Invisible guidelines</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">Social glue</td></tr></table><br/><hr id="CLRETN00001100"/>
<h2>Exam Question 10</h2> <p>According to the Association of Talent Development (ATD), how much does ineffective training cost per year, per 1,000 employees?</p></br>
<table>
<tr style="height:40px;"><td class="QTEXT" width="40">A</td>
<td class="QTEXT">$8 million</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">B</td>
<td class="QTEXT">$13.5 million</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">C</td>
<td class="QTEXT">$17.5 million</td></tr><tr style="height:40px;"><td class="QTEXT" width="40">D</td>
<td class="QTEXT">$22 million</td></tr></table><br/></blockquote>
{{> footer}}
</body></html>
