<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no"/>
  <title>{{name}}</title>
</head>
<body>
  {{> header}}
<div id="content">

<div id="panelAPW" mugwump="APW1" style="position:absolute; width:887px; z-index:2; left:54px; top:0px; padding:20px 10px 20px 10px; overflow:auto; background-color:transparent; font-family:K-Light,Verdana,Arial,Helvetica,sans-serif; font-size:18px; border:none;height:493px;">
<h1 style="margin-bottom:16px;margin-top:0px;font-size:40px;font-family:K-Light;color:#FF9000">
{{name}}</h1>
<p>{{message}}</p>
<p class="titlepagep">Upon successful completion of <i>Test03: Level 3,</i> the tester should be able to process the following:</p>
<ul style="margin-top:18px;">
<li class="titlepagep"><p>Level 3 audio elements</p>
</li>
<li class="titlepagep"><p>Level 2 interactive elements in HTML5</p>
</li>
<li class="titlepagep"><p>All Levels with required elements</p>
</li>
<li class="titlepagep"><p>All Levels that contain optional elements (tables, lists, wrappers)</p>
</li>
<li class="titlepagep"><p>All Levels that have images</p>
</li>
<li class="titlepagep"><p>All Levels that have click to reveals (xml versions)</p>
</li>
</ul>
{{> footer}}
</div></div>
</body>
</html>
